body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header { 
 height: 100vh;
 width: 100%;
 align-items: center;
 justify-content: center;
 background: radial-gradient( #ff8956 2% , #ff6726 100%);
 color: #fff;
}
.header .nav {
  display: flex;
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 1px  #ffd7d7;
  color: #ff6726;
}
.header .nav ul {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  justify-content: flex-end;
  list-style: none;
  margin-top: 20px;
}
.header li {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin: 15px;
}
.header .nav li a {
  color: #ff6726;
  text-decoration: none;
}
.header .nav h1 {
  text-transform: uppercase;
  margin-left: 25px;
  margin-top: 30px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-container {
  margin-left: 10%;
  margin-top: 100px;
}
.text-container h2 {
  margin-bottom: 50px;
  font-size: 60px;
}
.text-container p {
  font-size: 18px;
  max-width: 580px;
}
.illustration .imagen-central {
  width: 85%;
  margin-top: 100px;

}
.content {
  height: auto;
}
.footer {
  text-align: center;
  font-size: 14px;
  padding-top: 40px;
  border-top: 1px solid #aaaaaa;
  background-color: #ff8956;
  min-height: 30px;
  color: #fff;
}
.inicio{
  display: block;
}
.signatures {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
.signatures h2 {
  font-size: 30px;
  width: 100%;
  margin-left: 80px;
}
.signature {
  width: 240px;
  height: 200px;
  margin: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #fff;
  box-shadow: 0 0 6px #ddd;
  border-radius: 8px;
  padding-top: 60px;
  padding-left: 25px;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
}
.contact .contact-box {
  width: 450px;
  height: 150px;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #fff;
  box-shadow: 0 0 6px #ddd;
  border-radius: 25px;
  padding-top: 30px;
}
.contact-box button {
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  background-color: #ff6726;
  outline: none;
  border: none;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.contact-box button a{
  text-decoration: none;
  color: #000;
}
.contact-box h3 {
  
  font-size: 25px;
  margin-left: 30px;
}